<!DOCTYPE html>
<html>

<head>
  <title>東京旅遊地圖</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link rel='stylesheet' href="/tool/footable/css/footable.bootstrap.css">
  <link rel='stylesheet' href="/tool/footable/css/footable.bootstrap.min.css">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/tool/fontawesome-free-5.9.0-web/css/all.css' />


  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  </style>
</head>

<body>
  <div id="title_id">
    <h2><i class="fas fa-plane"></i>　地圖</h2>
  </div>
  <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab"
        aria-controls="pills-home" aria-selected="true">地圖</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab"
        aria-controls="pills-profile" aria-selected="false">行程</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-restaurant-tab" data-toggle="pill" href="#pills-restaurant" role="tab"
        aria-controls="pills-contact" aria-selected="false">餐廳</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-traffic-tab" data-toggle="pill" href="#pills-traffic" role="tab"
        aria-controls="pills-contact" aria-selected="false">交通</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-shopping-tab" data-toggle="pill" href="#pills-shopping" role="tab"
        aria-controls="pills-contact" aria-selected="false">購物</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <!-- 地圖tab -->
    <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
      <!-- tab content -->
      <div class="row" style="height: 500px;">
        <div id="map" class="col-md-12" style="height: 490px;"></div>
      </div>
      <div class="row">
        <div class="input-group mb-3">
          <input type="text" id="searchAddress" class="form-control" placeholder="搜尋" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="searchLocationByAddress()"
              style="margin-right:6px;">
              <i class="fas fa-search"></i></button><button class="btn btn-warning" onclick="geolocation()"><i
                class="fas fa-location-arrow"></i></button>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
    <!-- list tab -->
    <div class="tab-pane fade" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
      <!-- list contnet -->
      <div class="row">
        <div id="list" class="col-md-12">
          <table id="travel_table" class="table table-bordered on"></table>

        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="pills-restaurant" role="tabpanel" aria-labelledby="pills-restaurant-tab">...</div>
    <div class="tab-pane fade" id="pills-traffic" role="tabpanel" aria-labelledby="pills-traffic-tab">
      <div class="row">
        <div id="list" class="col-md-12">
          <table id="traffic_table" class="table table-bordered on"></table>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-shopping" role="tabpanel" aria-labelledby="pills-shopping-tab">
      <div class="row">
        <form role="form" action="/add_item" method="POST">
          <div class="form-group">
            <label for="shopping_item">新增清單項目</label>
            <input type="text" class="form-control" id="shopping_item" name="shopping_item" placeholder="請填寫">
          </div>
          <button type="submit" class="btn btn-primary">新增</button>

        </form>
      </div>
      <div class="row" style="margin-top: 10px">
       
          <table id="shopping_table" class="table table-bordered on"></table>
      
        <div class="row">
        </div>
      </div>



    </div>

    <script>

    </script>




    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/tool/footable/js/footable.js"></script>
    <script src="/tool/footable/js/footable.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/map/main.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVj7wInWLih5hYS136VxKAKYkO7M8cRpc&callback=initMap">
    </script>

</body>

</html>